# <aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [1]:
def power_two(n: int)->bool:
    if n==1:
        return True
    if n<1:
        return False
    return power_two(n/2)

In [2]:
power_two(1)

True

In [3]:
power_two(2)

True

In [5]:
power_two(3)

False

# <aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [6]:
def sum_natural(n: int)->int:
    if n==1:
        return 1
    return n + sum_natural(n-1)

In [7]:
sum_natural(3)

6

In [8]:
sum_natural(5)

15

# <aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [10]:
def factorial( n: int)-> int:
    if n==0:
        return 0
    if n==1:
        return 1
    return n* factorial(n-1)

In [11]:
factorial(5)

120

In [12]:
factorial(4)

24

# <aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [13]:
def exponent_(num: int, power: int)->int:
    if power ==0:
        return 1
    if power==1:
        return num
    return num*exponent_(num, power-1)

In [14]:
exponent_(5,2)

25

# <aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [16]:
def maximum_(list_, n):
    if n==1:
        return list_[0]
    return max(list_[n-1], maximum_(list_,n-1 ))

In [19]:
maximum_([1,2,3,8,5],5)

8

# <aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [20]:
def arithmetic(a, d,n):
    if n==1 or d ==0:
        return a
    return d+arithmetic(a,d,n-1)

In [21]:
arithmetic(2,1,5)

6

# <aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [41]:
def permutations(string, left, right):
    if left == right:
        print(''.join(string))
    else:
        for i in range(left, right + 1):
            string[left], string[i] = string[i], string[left]  # Swap characters
            permutations(string, left + 1, right)  # Recursion
            string[left], string[i] = string[i], string[left]  # Revert the swap


def printAllPermutations(S):
    string = list(S) 
    n = len(string)
    permutations(string, 0, n - 1)

In [42]:
printAllPermutations('ABC')

ABC
ACB
BAC
BCA
CBA
CAB

# <aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [35]:
def multiply_(list_, n):
    if n==1:
        return list_[0]
    return list_[n-1]*multiply_(list_,n-1)

In [40]:
multiply_([1,2,3,4,5],5)

120